*{
	font-family: 'Raleway', sans-serif;
}

p{
	font-weight: 500;
	display: block;
	background-color: yellow;
	height: 50px;
	width: 145px;
	padding: 10px;
}

p.red{
	background-color: #ff0053;
	padding-top: 15px;
}
